:root {
    --ypm__text-primary: #D9D9D9;
    --ypm__text-secondary: #E6D9D9;
    --ypm__text-default: #C3C3C3;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.d-none{
    display: none;
}
#ypm__main-wrapper {
    background-color: #012122;
    color: var(--ypm__text-default);
    font-family: 'Arial Rounded MT';
    padding: 25px;
}

.ypm__head-wrapper {
    background: linear-gradient(266.72deg, rgba(1, 60, 61, 0.1) 86.41%, rgba(54, 76, 111, 0) 131.14%);
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    border: 3px solid #00292A;
    border-radius: 30px;
    justify-content: center;
}
.ypm__head-img-wrapper > img{
    width: 100%;
    max-width: 400px;
}
.ypm__head-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ypm__head-content-wrapper > .ypm__heading{
    font-family: 'Arial Rounded MT Bold';
    font-size: 18px;
    color: var(--ypm__text-secondary);
}
.ypm__head-content-wrapper>.ypm__head-content {
    margin-top: 15px;
    font-size: 14px;
    text-align: justify;
}

.ypm__packages-main-wrapper {
    background-color: #00292A;
    margin-top: 20px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 2px 15px 0px #FFFFFF40;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ypm__package-bar {
    width: 100%;
    max-width: 80px;
    height: 3px;
    border-radius: 5px 5px 5px 5px;
    background-color: #B6B6B6;
    display: block;
}
.ypm__choose-package-heading{
    font-size: 18px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--ypm__text-secondary);
    margin-top: 10px;
}
.ypm__move-packages-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.ypm__move-package-wrapper {
    border-width: 3px;
    border-style: solid;
    border-color: #012122;
    border-radius: 20px;
    padding: 15px;
}
.ypm__package-name-header{
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: nowrap;
}
.ypm__package-icon{
    width: 35px;
}
.ypm__package-name{
    color: #fff;
    font-size: 20px;
}
.ypm__move-package-wrapper.ypm__selected-package {
    border-color: #F84734;
}
.ypm__features-main-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 5px;
}
.ypm__features-main-wrapper > ul{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.ypm__features-main-wrapper > ul> li{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.ypm__checkbox-icon{
    width: 25px;
}
.ypm__package-dash-divider{
    display: block;
    width: 100%;
    height: 2px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23C3C3C3' stroke-width='5' stroke-dasharray='13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin-top: 15px;
}
.ypm__package-price{
    margin-top: 10px;
}
.ypm__secure-quote-btn-wrapper{
    padding: 40px 20px;
    background: linear-gradient(266.72deg, rgba(1, 60, 61, 0.1) 86.41%, rgba(54, 76, 111, 0) 131.14%);
    border-radius: 0px 0px 20px 20px;
}
.ypm__secure-quote-btn{
    background: linear-gradient(90deg, #F84734 0%, #FCD503 27%, #278BFF 59.5%, #F84734 83%);
    color: #fff;
    border: none;
    width: 100%;
    padding: 20px 0px;
    font-size: 18px;
    border-radius: 5px;
}