<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovingPapa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovingPapa.styles.css" asp-append-version="true" />
    <link rel="manifest" href="~/manifest.json">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div style="display:flex">
                <div class="mb-full-width" style="width:60%;padding-top:32px">
                    <div style="float:right">
                        <button style="margin-top:3px;margin-right:57px;width: 212.2px;height: 63.79px;background: #F84734;border-radius: 35.467px;border:none;/* Book a move */font-family: 'Arial Rounded MT Bold';font-style: normal;font-weight: 400;font-size: 26.6003px;line-height: 31px;/* identical to box height */color: #FFFFFF;">
                            <div style="display:flex;flex-direction:column;justify-content:center;">
                                Book a move
                            </div>
                        </button>
                        <svg class="pc-display-none" width="102" height="64" viewBox="0 0 102 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 3L101.939 3" stroke="black" stroke-width="5" />
                            <path d="M0 32.8788H101.939" stroke="black" stroke-width="5" />
                            <path d="M0 61H101.939" stroke="#242121" stroke-width="5" />
                        </svg>
                    </div>
                    <a href="/"><div class="responsive-logo"></div></a>
                </div>
                <div class="mb-display-none" style="width:70%;border-left: 0.747786px solid #6D6D6D;display:flex">
                    <a href="/track" style="padding-top:51px;padding-bottom:40px;text-decoration:none;padding-left:30px;padding-right:20px;border-right: 0.747786px solid #6D6D6D; font-family: 'Arial Rounded MT Bold';font-style: normal;font-weight: 400;font-size: 26px;line-height: 32px;/* identical to box height, or 125% */color: #00292A;">
                        TRACK YOUR MOVE
                        <svg style="margin-left:15px" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.8017 15.4858C11.7989 15.4858 10.1625 13.8581 10.1625 11.8466C10.1625 9.83772 11.7961 8.21885 13.8017 8.21885C15.8045 8.21885 17.4409 9.84649 17.4409 11.8581C17.4409 13.8669 15.8072 15.4858 13.8017 15.4858ZM13.8017 8.32034C11.8603 8.32034 10.2639 9.90075 10.2639 11.8581C10.2639 13.8131 11.8466 15.3958 13.8017 15.3958C15.7567 15.3958 17.3394 13.8131 17.3394 11.8581C17.3394 9.90075 15.743 8.32034 13.8017 8.32034Z" fill="#3E4E6F" stroke="#F84734" stroke-width="1.62374" />
                            <path d="M4.11529 9.76136L4.1155 9.76045C5.28831 4.59371 9.79273 2.24955 13.8016 2.24955H13.8016H13.8016H13.8016H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.802H13.802H13.802H13.802H13.802H13.802H13.802H13.802H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8026H13.8026H13.8026H13.8026H13.8026H13.8026H13.8026H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8028H13.8028H13.8028H13.8028H13.8028H13.8028H13.8029H13.8029H13.8029H13.8029H13.8029H13.8029H13.8029H13.803H13.803H13.803H13.803H13.803H13.803H13.8031H13.8031H13.8031H13.8031H13.8031H13.8031H13.8032H13.8032H13.8032H13.8032H13.8032H13.8033H13.8033H13.8033H13.8033H13.8033H13.8033H13.8034H13.8034H13.8034H13.8034H13.8034H13.8035H13.8035H13.8035H13.8035H13.8035H13.8036H13.8036H13.8036H13.8036H13.8036H13.8037H13.8037H13.8037H13.8037H13.8038H13.8038H13.8038H13.8038H13.8038H13.8039H13.8039H13.8039H13.8039H13.804H13.804H13.804H13.804H13.8041H13.8041H13.8041H13.8041H13.8042H13.8042H13.8042H13.8042H13.8043H13.8043H13.8043H13.8043H13.8044H13.8044H13.8044H13.8044H13.8045H13.8045H13.8045H13.8045H13.8046H13.8046H13.8046H13.8046H13.8047H13.8047H13.8047H13.8048H13.8048H13.8048H13.8048H13.8049H13.8049H13.8049H13.805H13.805H13.805H13.8051H13.8051H13.8051H13.8051H13.8052H13.8052H13.8052H13.8053H13.8053H13.8053H13.8054H13.8054H13.8054H13.8055H13.8055H13.8055H13.8056H13.8056H13.8056H13.8057H13.8057H13.8057H13.8058H13.8058H13.8058H13.8059H13.8059H13.8059H13.806H13.806H13.806H13.8061H13.8061H13.8061H13.8062H13.8062H13.8063H13.8063H13.8063H13.8064H13.8064H13.8064H13.8065H13.8065H13.8066H13.8066H13.8066H13.8067H13.8067H13.8067H13.8068H13.8068H13.8069H13.8069H13.8069H13.807H13.807H13.8071H13.8071H13.8071H13.8072H13.8072H13.8073H13.8073H13.8074H13.8074H13.8074H13.8075H13.8075H13.8076H13.8076H13.8077H13.8077H13.8077H13.8078H13.8078H13.8079H13.8079H13.808H13.808H13.8081H13.8081H13.8082H13.8082H13.8082H13.8083H13.8083H13.8084H13.8084H13.8085H13.8085H13.8086H13.8086H13.8087H13.8087H13.8088H13.8088H13.8089H13.8089H13.809H13.809H13.8091H13.8091H13.8092H13.8092H13.8093H13.8093H13.8094H13.8094H13.8095H13.8095H13.8096H13.8096H13.8097H13.8097H13.8098H13.8099H13.8099H13.81H13.81H13.8101H13.8101H13.8102H13.8102H13.8103H13.8104H13.8104H13.8105H13.8105H13.8106H13.8106H13.8107H13.8107H13.8108H13.8109H13.8109H13.811H13.811H13.8111H13.8112H13.8112H13.8113H13.8113H13.8114H13.8115H13.8115H13.8116H13.8116H13.8117H13.8118H13.8118H13.8119H13.812H13.812H13.8121H13.8121H13.8122H13.8123H13.8123H13.8124H13.8125H13.8125H13.8126H13.8127H13.8127H13.8128H13.8129H13.8129H13.813H13.8131H13.8131C17.8214 2.24955 22.326 4.59316 23.4991 9.77147C24.803 15.5318 21.3346 20.4502 17.9898 23.6706C16.8102 24.7992 15.2991 25.3655 13.8016 25.3655C12.3042 25.3655 10.7931 24.7992 9.61341 23.6706C6.26897 20.4505 2.80088 15.5212 4.11529 9.76136ZM23.4038 9.78203L23.4031 9.77879C22.1411 4.27657 17.39 2.35104 13.8016 2.35104C10.2127 2.35104 5.47282 4.27723 4.22296 9.77966C2.87887 15.6434 6.57574 20.5953 9.69626 23.588C12.0004 25.8112 15.6145 25.8112 17.9186 23.5879C21.0274 20.5955 24.7232 15.6445 23.4038 9.78203Z" fill="#3E4E6F" stroke="#F84734" stroke-width="1.62374" />
                        </svg>
                    </a>
                    <a href="/sustainability" style="padding-top:51px;padding-bottom:42px;text-decoration:none;padding-left:34px;padding-right:32px;border-right: 0.747786px solid #6D6D6D; font-family: 'Arial Rounded MT Bold';font-style: normal;font-weight: 400;font-size: 26px;line-height: 32px;/* identical to box height, or 125% */color: #00292A;">
                        SUSTAINABILITY
                        <svg style="margin-left:8px" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.8017 15.4858C11.7989 15.4858 10.1625 13.8581 10.1625 11.8466C10.1625 9.83772 11.7961 8.21885 13.8017 8.21885C15.8045 8.21885 17.4409 9.84649 17.4409 11.8581C17.4409 13.8669 15.8072 15.4858 13.8017 15.4858ZM13.8017 8.32034C11.8603 8.32034 10.2639 9.90075 10.2639 11.8581C10.2639 13.8131 11.8466 15.3958 13.8017 15.3958C15.7567 15.3958 17.3394 13.8131 17.3394 11.8581C17.3394 9.90075 15.743 8.32034 13.8017 8.32034Z" fill="#3E4E6F" stroke="#F84734" stroke-width="1.62374" />
                            <path d="M4.11529 9.76136L4.1155 9.76045C5.28831 4.59371 9.79273 2.24955 13.8016 2.24955H13.8016H13.8016H13.8016H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8017H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8018H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.8019H13.802H13.802H13.802H13.802H13.802H13.802H13.802H13.802H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8021H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8022H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8023H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8024H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8025H13.8026H13.8026H13.8026H13.8026H13.8026H13.8026H13.8026H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8027H13.8028H13.8028H13.8028H13.8028H13.8028H13.8028H13.8029H13.8029H13.8029H13.8029H13.8029H13.8029H13.8029H13.803H13.803H13.803H13.803H13.803H13.803H13.8031H13.8031H13.8031H13.8031H13.8031H13.8031H13.8032H13.8032H13.8032H13.8032H13.8032H13.8033H13.8033H13.8033H13.8033H13.8033H13.8033H13.8034H13.8034H13.8034H13.8034H13.8034H13.8035H13.8035H13.8035H13.8035H13.8035H13.8036H13.8036H13.8036H13.8036H13.8036H13.8037H13.8037H13.8037H13.8037H13.8038H13.8038H13.8038H13.8038H13.8038H13.8039H13.8039H13.8039H13.8039H13.804H13.804H13.804H13.804H13.8041H13.8041H13.8041H13.8041H13.8042H13.8042H13.8042H13.8042H13.8043H13.8043H13.8043H13.8043H13.8044H13.8044H13.8044H13.8044H13.8045H13.8045H13.8045H13.8045H13.8046H13.8046H13.8046H13.8046H13.8047H13.8047H13.8047H13.8048H13.8048H13.8048H13.8048H13.8049H13.8049H13.8049H13.805H13.805H13.805H13.8051H13.8051H13.8051H13.8051H13.8052H13.8052H13.8052H13.8053H13.8053H13.8053H13.8054H13.8054H13.8054H13.8055H13.8055H13.8055H13.8056H13.8056H13.8056H13.8057H13.8057H13.8057H13.8058H13.8058H13.8058H13.8059H13.8059H13.8059H13.806H13.806H13.806H13.8061H13.8061H13.8061H13.8062H13.8062H13.8063H13.8063H13.8063H13.8064H13.8064H13.8064H13.8065H13.8065H13.8066H13.8066H13.8066H13.8067H13.8067H13.8067H13.8068H13.8068H13.8069H13.8069H13.8069H13.807H13.807H13.8071H13.8071H13.8071H13.8072H13.8072H13.8073H13.8073H13.8074H13.8074H13.8074H13.8075H13.8075H13.8076H13.8076H13.8077H13.8077H13.8077H13.8078H13.8078H13.8079H13.8079H13.808H13.808H13.8081H13.8081H13.8082H13.8082H13.8082H13.8083H13.8083H13.8084H13.8084H13.8085H13.8085H13.8086H13.8086H13.8087H13.8087H13.8088H13.8088H13.8089H13.8089H13.809H13.809H13.8091H13.8091H13.8092H13.8092H13.8093H13.8093H13.8094H13.8094H13.8095H13.8095H13.8096H13.8096H13.8097H13.8097H13.8098H13.8099H13.8099H13.81H13.81H13.8101H13.8101H13.8102H13.8102H13.8103H13.8104H13.8104H13.8105H13.8105H13.8106H13.8106H13.8107H13.8107H13.8108H13.8109H13.8109H13.811H13.811H13.8111H13.8112H13.8112H13.8113H13.8113H13.8114H13.8115H13.8115H13.8116H13.8116H13.8117H13.8118H13.8118H13.8119H13.812H13.812H13.8121H13.8121H13.8122H13.8123H13.8123H13.8124H13.8125H13.8125H13.8126H13.8127H13.8127H13.8128H13.8129H13.8129H13.813H13.8131H13.8131C17.8214 2.24955 22.326 4.59316 23.4991 9.77147C24.803 15.5318 21.3346 20.4502 17.9898 23.6706C16.8102 24.7992 15.2991 25.3655 13.8016 25.3655C12.3042 25.3655 10.7931 24.7992 9.61341 23.6706C6.26897 20.4505 2.80088 15.5212 4.11529 9.76136ZM23.4038 9.78203L23.4031 9.77879C22.1411 4.27657 17.39 2.35104 13.8016 2.35104C10.2127 2.35104 5.47282 4.27723 4.22296 9.77966C2.87887 15.6434 6.57574 20.5953 9.69626 23.588C12.0004 25.8112 15.6145 25.8112 17.9186 23.5879C21.0274 20.5955 24.7232 15.6445 23.4038 9.78203Z" fill="#3E4E6F" stroke="#F84734" stroke-width="1.62374" />
                        </svg>
                    </a>
                    <a href="/sign-up" style="padding-top:46px;padding-bottom:45px;text-decoration:none;padding-left:34px;padding-right:32px;border-right: 0.747786px solid #6D6D6D; font-family: 'Arial Rounded MT Bold';font-style: normal;font-weight: 400;font-size: 26px;line-height: 32px;/* identical to box height, or 125% */color: #00292A;">
                        SIGN UP
                    </a>
                    <a href="/sign-in" style="padding-top:46px;padding-bottom:45px;text-decoration:none;padding-left:34px;padding-right:32px;border-right: 0.747786px solid #6D6D6D; font-family: 'Arial Rounded MT Bold';font-style: normal;font-weight: 400;font-size: 26px;line-height: 32px;/* identical to box height, or 125% */color: #00292A;">
                        LOGIN
                    </a>
                </div>
            </div>
            <div id="mainContent" class="mb-no-margin-left" style="transform-origin:20% 5%">
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MovingPapa - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>